<!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Welcome, {{user.firstName}} {{user.lastName}}</h2>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                                                      <div class="col-sm-6 col-lg-3">
                                                        <div class="overview-item overview-item--c1">
                                                          <div class="overview__inner">
                                                            <div class="overview-box clearfix">
                                                              <div class="icon">
                                                                <i class="fas fa-book"></i>
                                                              </div>
                                                              <div class="text">
                                                                <h2>{{posts.length}}</h2>
                                                                <span>Total Posts</span>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-archive"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{categories.length}}</h2>
                                                <span>Total Categories</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="fas fa-users"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{users.length}}</h2>
                                                <span>Total Users</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-archive"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{draftposts.length}}</h2>
                                                <span>Draft Posts</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
