<!-- ##### Hero Area Start ##### -->
<div class="hero-area owl-carousel">
    {{#each topPosts}}
    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url({{file}});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="#">{{formatDate}}</a>
                            <a href="#">{{category.title}}</a>
                        </div>
                        <a href="/post/{{slug}}" class="post-title" data-animation="fadeInUp"
                            data-delay="300ms">{{title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<!-- ##### Hero Area End ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Featured Posts</h5>
            </div>
            {{#each featuredPosts}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="{{file}}" alt="">
                </div>
                <div class="post-content">
                    <a href="/post/{{slug}}" class="post-title">{{title}}</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{comment.length}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget">
            <a href="#" class="add-img"><img src="img/bg-img/add.png" alt=""></a>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Latest Music</h5>
            </div>
            {{#each audioPosts}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="img/bg-img/13.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="single-post.html" class="post-title">Travel Prudently Luggage And Carry</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <!-- Trending Now Posts Area -->


        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Latest Articles</h5>
            </div>

            <div class="featured-video-posts">
                <div class="row">
                    {{#each posts}}
                    <div class="col-md-6 mt-3">
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img style="height: 200px; width:500px;" src="{{file}}" alt="">
                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="#">{{formatDate}}</a>
                                    <a href="#">{{category.title}}</a>
                                </div>
                                <a href="/post/{{slug}}" class="post-title">{{title}}</a>
                                <p id="preview" class='fr-view'>{{{excerpt}}}</p>
                            </div>
                            <!-- Post Share Area -->
                            <div class="post-share-area d-flex align-items-center justify-content-between">
                                <!-- Post Meta -->
                                <div class="post-meta pl-3">
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>
                                        {{comments.length}}</a>
                                    <a href="#"><i class="fa fa-user" aria-hidden="true"></i> {{author.firstName}}
                                        {{author.lastName}}</a>
                                </div>
                                <!-- Share Info -->
                                <div class="share-info">
                                    <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    <!-- All Share Buttons -->
                                    <div class="all-share-btn d-flex">
                                        <a href="#" class="facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" class="google-plus"><i class="fa fa-google-plus"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Newsletter</h5>
            </div>

            <div class="newsletter-form">
                <p>Subscribe to our newsletter to get notification about new updates, information discount, etc.</p>
                <form action="/add" method="post">
                    <input type="email" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                </form>
            </div>
        </div>
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Recommended Posts</h5>
            </div>
            {{#each recommendedPosts}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="{{file}}" alt="">
                </div>
                <div class="post-content">
                    <a href="/post/{{slug}}" class="post-title">{{title}}</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{views}}</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{comment.length}}</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Social Followers Info -->
            <div class="social-followers-info">
                <!-- Facebook -->
                <a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>Fans</span></a>
                <!-- Twitter -->
                <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280 <span>Followers</span></a>
                <!-- YouTube -->
                <a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250 <span>Subscribers</span></a>
                <!-- Google -->
                <a href="#" class="google-followers"><i class="fa fa-google-plus"></i> 4,230 <span>Followers</span></a>
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Categories</h5>
            </div>

            <!-- Catagory Widget -->
            <ul class="catagory-widgets">
                {{#each categories}}
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{title}}</span>
                        <span>13</span></a></li>
                {{/each}}
            </ul>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget">
            <a href="#" class="add-img"><img src="img/bg-img/add2.png" alt=""></a>
        </div>

    </div>
</section>