{{!-- <div class="container">
    <h1>Edit Post</h1>

    <div class="row p-4">
        <div class="col-md-10">
            <form action="/dashboard/posts/edit/{{post.slug}}?newMethod=PUT" method="post">

</div> --}}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <strong>Update</strong> Post
                        </div>
                        <div class="card-body card-block">
                            <form action="/dashboard/posts/edit/{{post.slug}}?newMethod=PUT" method="post"
                                enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Title</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="text-input" name="title" value="{{post.title}}"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="status" class=" form-control-label">Status</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="status" id="status" class="form-control">
                                            <option value="public">Public</option>
                                            <option value="private">Private</option>
                                            <option value="draft">Draft</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="type" class=" form-control-label">Post Type</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="type" id="type" class="form-control">
                                            <option value="post">Post</option>
                                            <option value="audio">Audio</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="category" class=" form-control-label">Category</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="category" id="category" class="form-control">
                                            {{#select post.category}}
                                            {{#each categories}}
                                            <option value="{{_id}}">{{title}}</option>
                                            {{/each}}
                                            {{/select}}
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Excerpt</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="excerpt" rows="9" id="edit"
                                            class="form-control">{{{post.excerpt}}}</textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="textarea-input" class=" form-control-label">Content</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="description" rows="9" id="edit"
                                            class="form-control">{{{post.description}}}</textarea>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button id="create-button" type="submit" class="btn btn-lg btn-info btn-block">
                                        <i class="fa fa-book fa-lg"></i>&nbsp;
                                        <span id="payment-button-amount">Update Post</span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong>Cover </strong> Image
            </div>
            <div class="file-upload">
                <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
                    Image</button>
    
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' name="uploadedFile" onchange="readURL(this);"
                        accept="image/*" />
                    <div class="drag-text">
                        <h3>Drag and drop a file or select add Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="{{post.file}}" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>
        </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Post</strong> Elements
                        </div>
                        <div class="card-body card-block">
                            Allow Comments :
                            <label class="switch switch-text switch-primary switch-pill">
                                <input type="checkbox" class="switch-input"
                                    {{#if post.commentIsApproved}}checked="checked" {{/if}} name="allowComments">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <br>
                            <br>
                            Add To Featured Posts :
                            <label class="switch switch-text switch-primary switch-pill">
                                <input type="checkbox" class="switch-input" name="isFeatured">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <br>
                            <br>
                            Add To Top Posts :
                            <label class="switch switch-text switch-primary switch-pill">
                                <input type="checkbox" class="switch-input" name="isTop">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                            <br>
                            <br>
                            Send Post To Subscribers :
                            <label class="switch switch-text switch-primary switch-pill">
                                <input type="checkbox" class="switch-input" name="isTop">
                                <span data-on="On" data-off="Off" class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>