<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <div class="row m-t-30">
                <div class="col-md-12">
                    <!-- DATA TABLE-->
                    <form action="/dashboard/navigation" method="POST" class="row form-group mb-5">
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Title: </label>
                        </div>
                        <div class="col-9 col-md-6">
                            <input type="text" id="text-input" name="title" class="form-control">
                        </div>
                        <br><br>Here
                        <div class="col col-md-3">
                            <label for="text-input" class=" form-control-label">Slug: </label>
                        </div>
                        <div class="col-9 col-md-6">
                            <input type="text" id="text-input" name="slug" class="form-control">
                            <p>Leave blank for generated url</p>
                        </div>
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="zmdi zmdi-plus"></i>add </button>
                    </form>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>date</th>
                                    <th>title</th>
                                    <th>link</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each navigation}}
                                <tr>
                                    <td>{{creationDate}}</td>
                                    <td>{{title}}</td>
                                    <td>/{{slug}}</td>
                                    <td>
                                        <a href="/dashboard/navigation/edit/{{slug}}" class="btn btn-sm btn-warning mr-2"
                                            role="button">Edit</a>
                                        <form action="/dashboard/navigation/delete/{{id}}?newMethod=DELETE"
                                            method="post">
                                            <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE-->
                </div>
            </div>